h1 {
    text-align: center; 
    font-family: 'Commissioner', sans-serif;
}

h2 {
    text-align: center; 
    font-family: 'Commissioner', sans-serif;
}

h3 {
    text-align: left;
    font-family: 'Comissioner', sans-serif;
}

h5 {
    text-align: center; 
    font-family: 'Commissioner', sans-serif;
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p:nth-child(3){
    text-align: left;
}

body {
    background-color: #595F72;
}

#border {
  border-bottom: 2px solid #C3D350;
  padding-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#search-container {
    align-items: center;
    text-align: center;
    margin: 20px;
}

/* Formatting for table */
#contribsTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px; 
}

#contribsTable td {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid white;
  padding: 8px;
}

#contribsTable tr {
  background-color: white;
}

#contribsTable tr:nth-child(even){background-color: #f2f2f2;}

#contribsTable tr:hover {background-color: #b3c5d7;}

#contribsTable th {
  font-family: 'Commissioner', sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #C3D350;
  color: white;
}

#contribsTable th:first-child {border-top-left-radius: 15px;}

#contribsTable th:last-child {border-top-right-radius: 15px;}
/* End of formatting for table */

/* Formatting for search bar */
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #C3D350;
  border-radius: 15px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 5px;
  font-size: 15px;
  width: 520px; 
  border: none;
  border-radius: 8px;
}

/* To-Do: Add search icon to search button */
.topnav .search-container button {
  float: right;
  padding: 16px 16px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
}

.topnav .search-container button:hover {
  background: #ccc;
}
/* End of formatting for search bar */

#linechart text{
    fill: black !important;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#piechart text{
    fill: black !important;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* Meant to center the charts, but currently not working */
.chart_center {
    margin: auto;
    display: inline-block;
}